#app {
  width: 90%;
  margin: 0 auto;
  padding: 2rem;
}

body               {
  background:#9BC86A;
  font:400 14px 'Calibri','Arial';
  padding:20px;
}

blockquote {
  color:white;
  text-align:center;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background:white;
  border-radius:6px;
  overflow:hidden;
  width:100%;
  margin:0 auto;
  position:relative;
}

table thead tr, table tfoot tr {
  height:60px;
  background:#FFED86;
  font-size:16px;
}

table td, th{
  padding: 10px;
}

table tbody tr {
    height:48px;
    border-bottom:1px solid #E3F1D5 ;
    &:last-child  { border:0; }
 }

table tr.expanded{
  background-color: aliceblue;
}


.alert {
  min-height: 67px;
  width: 30%;
  max-width: 90%;
  border-radius: 12px;
  padding: 16px 22px 17px 20px;
  display: flex;
  align-items: center;
  margin: 200px auto 0px auto;
}
.alert-error {
  background: #e41749;
}
.alert p {
  color: #fff;
  font-family: Verdana;
  margin-left: 10px;
  margin: auto;
}
.alert p a,
.alert p a:visited,
.alert p a:active {
  color: #fff;
}

.search-name{
  width: 100%;
  border: none;
  padding: 5px;
}

.search-budget{
  width: 100px;
  border: none;
  padding: 5px;
}
